

@media (max-width: 490px){
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        right: 0;
        top: 95px;
        left: auto;
        margin-right: 55px;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-next {
        right: 0;
        top: 95px;
        left: auto;
    }
    .title{
        font-size: 24px;
    }
}


@media (max-width: 545px) {
    .main__text{
        height: 425px;
        text-align: center;
    }
    .main__info{
        margin: 0 auto 50px;
    }
    .footer__info{
        display: block;
        padding: 10px 0;
    }
    .footer__info div + div{
        margin-top: 15px;
    }
    .main__inner::before{
        width: 220px;
    }
    .main__info{
        max-width: 330px;
    }
    .news__main-img{
        width: 215px;
        height: 200px;
    }
    .news__main-title{
        margin-bottom: 15px;
    }
    .main__date{
        margin-top: 0;
    }
    .news__inner div + div {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .news {
        margin-bottom: 60px;
    }
    .news__btn{
        display: none;
    }
    .news__btn-mobile{
        display: block;
    }
    .rent__slider{
        padding: 20px 10px;
    }
    .rent__slider-box{
        width: 400px;
    }
    .footer__nav ul + ul {
        margin-left: 60px;
    }
}

@media (max-width: 680px){
    .rent__slider-title{
        width: 254px;
    }
}


@media (max-width: 476px){
    .news__main-link{
        display: block;
        text-align: center;
    }
    .news__main-img{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .news__item{
        padding-top: 30px;
        text-align: center;
        width: 255px;
        margin: 0 auto 20px;
    }
    .news__item br{
        display: none;
    }
    .news__item-last{
        display: block;
    }
    .news__item-img{
        margin: 0 auto;
    }
    .news__item-date{
        text-align: center;
    }

    .footer__contact{
        height: 145px;
    }
    .slider{
        margin-bottom: 0;
    }
    .catalog{
        margin-bottom: 30px;
    }
}


@media (max-width: 720px) {
    body.lock {
      overflow: hidden;
    }
    .header__body {
      height: 50px;
    }
    .header__logo {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 40px;
              flex: 0 0 40px;
    }
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
      float: right;
    }
    .header__burger span {
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
    .header__burger:before {
      top: 0;
    }
    .header__burger:after {
      bottom: 0;
    }
    .header__burger.active:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 9px;
    }
    .header__burger.active:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      bottom: 9px;
    }
    .header__burger.active span {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    .header__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      /*для прокрутки меню, когда оно не помещается в экран*/
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.25);
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      z-index: 80;
    }
    .header__menu.active {
      top: 0;
    }
    .header__list li + li {
        margin-left: 0px;
    }
    .header__list li:first-child{
        padding-top: 70px;
    }
    .header__list {
      display: block;
      text-align: center;
      width: 100%;
      height: 100%;
    }
    .header__list li {
      margin: 0 0 20px 0;
    }
    .header__link {
      font-size: 24px;
    }

  }

@media (max-width: 768px) { 
    .rent__slider-inner{
        display: block;
    }
    .rent__slider-title{
        margin-right: 70px;
    }
    .rent__slider{
        height: 100%;
        width: 100%;
    }
    .rent__slider-item{
        margin-right: 0;
        width: 250px;
        margin: 0 auto;
    }
    .list__title {
        text-align: center;
    }
    .list__parent{
        width: 270px;
        margin: 0 auto;
    }
    .rent__title{
        margin-bottom: 80px;
    }
}


@media (max-width: 824px){
    .footer__contact{
        display: block;
    }
    .footer__contact div + div{
        margin-top: 20px;
    }
    .footer__contact{
        height: 140px;
        padding: 10px 0;
    }
}


@media (max-width: 1000px){
    .rent__inner{
        display: block;
    }
    .rent__info{
        margin: 0 auto 30px;
        text-align: center;
    }
    .rent__slider{
        margin: 0 auto;
    }
    .slider__box-img{
        width: 430px;
        height: auto;
    }
    .slider__box-info{
        padding: 15px 20px;
    }
    .main__inner::before{
        width: 270px;
    }
}

@media (max-width: 1050px) {
    .tab__content{
        max-width: 350px;
        margin: 0 auto 30px;
    }
    .tab__content div + div{
        margin: 0;
        margin-top: 30px;
    }
}




